@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
}

body {
    min-height: 100vh;
    background-color: dodgerblue;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

section {
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    background-color: rgba(0,0,0,0.4);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}

h1 {
    color: rgb(169, 254, 191);
    text-shadow:
      -1px -1px 0 rgb(104, 7, 115),
      1px -1px 0 rgb(104, 7, 115),
      -1px 1px 0 rgb(104, 7, 115),
      1px 1px 0 rgb(104, 7, 115);
}

a, .link-wrap {
    transition: transform .1s ease-in-out;
}

a, a:visited {
    color: #fff;
}

a:hover,
a:focus {
    color:rgb(247, 120, 211)
}

a:active,
.link-wrap:active {
    transform: translate(3px, 3px);
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

input {
    display: block;
}

label {
    color: blanchedalmond;
}

button {
  padding: 0.5rem;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

.btn {
    margin-top: 40px;
    background-color: #fff;
    transition: transform .1s ease-in-out;
}

.btn:hover,
.btn:focus {
    transform: translate(3px, 3px);
}

.btn:active {
    transform: scale(0.9);
    color: #fff;
    background-color: rgb(116, 2, 84);
}

.sign-up-link {
    padding: 0;
    margin-bottom: 0;
    color: rgb(197, 255, 212);
}
